# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
uv.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Data and outputs
data.zip
data/
*.parquet
*.csv
*.xlsx

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# MacOS
.DS_Store

# VSCode
.vscode/